/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    margin: 2rem;
    background-color: #1b57ed;
    width: 100%;
} */

h3{
    color:white;
}

input{
    background: none;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 0.5rem 1rem;
    width: 20rem;
}
textarea{
    margin: 1rem 0rem;
    background: none;
    outline: none;
    overflow:auto;
}

button{
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    background: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}


#question{
    padding: 0.5rem 1rem;
    margin: 2rem 0rem;
    color: black;
    font-size: 16px;
    /* width: 20rem; */
    border: 1px solid gray
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    body{
        margin: 0.5rem;
    }
    input{
        width: 16rem;
    }
    #question{
        width: 16rem;
    }
    

  }

 .main-container{
    display: flex;
    justify-content: center;
 }

.container{
    width: 98%;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    gap:1.5rem;
}

.card{
    width: 16rem;
    background-color: coral;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    min-height: 8rem;
}

.title{
    color: darkblue;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.card h3{
    letter-spacing: 1px;
}
.card p{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
    font-size: 13px;
    text-align: center;
    color: rgb(41, 41, 41);
}

a {
    text-decoration: none;
    outline: none;
}